/**General styling*/
QWidget {
  font-family: "Frutiger LT Pro";
  font-style: 55 Roman;
  font-size: 14px; 
}

QTreeView::indicator {
    width: 13px;
    height: 13px;
    background: #FFFFFF;
    frame: 1px #9a9a9a
}

QTreeView::indicator::checked {
  image: url(:/images/kadas/checked.png);
}

QTreeView::indicator::unchecked {
  image: url(:/images/kadas/unchecked.png);
}

/*QCheckBox::indicator:unchecked {
    image: url(:/images/checkbox_unchecked.png);
}*/

QgsKadasMainWidget {
  background-color: #263B4E;
}

/**UI left of mRibbonWidget*/
QAbstractButton#mFavoriteButton1 {
  background-color: #5D7081;
  color: #FFFFFF;
}

QAbstractButton#mFavoriteButton2 {
  background-color: #5D7081;
  color: #FFFFFF;
}

QAbstractButton#mFavoriteButton3 {
  background-color: #5D7081;
  color: #FFFFFF;
}

QAbstractButton#mFavoriteButton4 {
  background-color: #5D7081;
  color: #FFFFFF;
}

QFrame#mSeparatorFrame {
  background-color: #BEDCF6;
  border: 1px #BEDCF6;
}

/**mRibbonWidget*/
QTabWidget#mRibbonWidget {
  background-color: #263B4E;
}

#mRibbonWidget QAbstractButton { 
  background-color: #5D7081;
  color: #FFFFFF;
}

/**Status bar*/

QWidget#mStatusWidget {
  background-color: #1E2126;
}

#mStatusWidget  QWidget {
  background-color: #16171B;
  color: #FFFFFF;
}

/*QTabWidget#mRibbonWidget { 
  font-family: "Frutiger LT Pro" 
}*/

QTabWidget::pane {
}

#mRibbonWidget QTabBar::tab:selected {
    background-color: #263B4E;
    color: #FFFFFF;
}

#mRibbonWidget QTabBar::tab:!selected {
    background-color: #BEDCF6; /* make non-selected tabs look smaller */
}

/**Tree view button*/
QPushButton#mLayerTreeViewButton {
  background-color: #263B4E;
}

/**+- button*/
QPushButton#mZoomInButton {
  background-color: #263B4E;
  color: #FFFFFF;
}
QPushButton#mZoomOutButton {
  background-color: #263B4E;
  color: #FFFFFF;
}

/**Styling for dialogs*/

QDialogButtonBox { 
  dialogbuttonbox-buttons-have-icons: 0; 
}

QDialog QPushButton {
  border-radius: 3px;
  background-color: #e6e6e6;
  border: 1px solid #cdcdcd;
  padding: 6px;
  border-style: outset;
  min-width: 80px;
}

QDialog {
  background-color: #FFFFFF;
}

QDialog QPushButton:pressed {
    border-style: inset;
}

QDialog QPushButton[text="OK"], QPushButton[text="&Open"]{
  background-color: #106BBC;
  color: #FFFFFF;
}

QDialog QPushButton[text="Abbrechen"], QPushButton[text="Schließen"], QPushButton[text="Cancel"]{
  background-color: #313B44;
  color: #FFFFFF;
}

/*QDialog QSpinBox, QDialog QDoubleSpinBox*/
QDialog QComboBox, QDialog QLineEdit {
  background-color: #FFFFFF;
}

QDialog QComboBox
{
  frame: 1px solid #9a9a9a;
}

/*QDialog QSpinBox, QDialog QDoubleSpinBox,*/
QDialog QLineEdit {
  border-radius: 5px;
  frame: 1px solid #9a9a9a;
}



