/**General styling*/
QWidget {
  font-family: "Frutiger LT Pro 55 Roman";
  font-size: 14px;
}

QgsRibbonApp, QgsRibbonWindowBase QToolBar {
  background-color: #263B4E;
}

QDockWidget #mapWidgetTitleWidget {
    background: #BEDCF6;
}

QDockWidget {
    color: white;
}

QTreeView::indicator {
    width: 13px;
    height: 13px;
    background: #FFFFFF;
    frame: 1px #9a9a9a
}

QTreeView::indicator::checked {
  image: url(:/images/ribbon/checked.png);
}

QTreeView::indicator::unchecked {
  image: url(:/images/ribbon/unchecked.png);
}


/*QCheckBox::indicator:unchecked {
    image: url(:/images/checkbox_unchecked.png);
}*/

QMenu, QComboBox QAbstractItemView  {
    background-color: white;
    border: 1px solid #959697;
}

QMenu::item, QAbstractItemView::item {
    background-color: transparent;
    color: #31363b
}

QMenu::item:selected, QAbstractItemView::item::selected {
    background-color: #3daee9;
    color: white;
}

/** Layer tree view */
QTreeView#mLayerTreeView {
  background-color: rgba(255,255,255, 220);
}

QPushButton#mLayerTreeViewButton {
  background-color: #263B4E;
}


/** Favorite buttons */
QAbstractButton#mFavoriteButton1,
QAbstractButton#mFavoriteButton2,
QAbstractButton#mFavoriteButton3,
QAbstractButton#mFavoriteButton4 {
  background-color: #5D7081;
  color: #263B4E;
}


/** Search **/
#mSearchWidget {
  background-color: #5D7081;
}

#searchBox {
    border: 1px solid #9db2c5;
    background-color: #E8F4FF;
    color: black;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 5px;
}

#searchFilter {
    border-right: 1px solid #9db2c5;
    border-top: 1px solid #9db2c5;
    border-bottom: 1px solid #9db2c5;
    background-color: #5d7081;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin: 0;
    padding: 5px;
}


/** Separator between favorites and ribbon tab widget **/
#mSeparatorFrame {
  border: 0.5px solid #5D7081;
}

/** Ribbon widget **/
#mRibbonBackgroundWidget {
  background-color: #BEDCF6;
}

#mRibbonWidget QTabBar::tab:!selected {
    background-color: #BEDCF6; /* make non-selected tabs look smaller */
    height: 45px;
}

#mRibbonWidget QTabBar::tab:selected {
    background-color: #263B4E;
    color: #FFFFFF;
}

#mRibbonWidget > QWidget {
  background-color: #263B4E;
}

#mRibbonWidget QLabel {
  color: #FFFFFF;
}

#mRibbonWidget QAbstractButton,
#mRibbonWidget QComboBox,
#mRibbonWidget QSpinBox {
  background-color: #5D7081;
  color: #FFFFFF;
}

#mRibbonWidget::pane {
    /* Don't remove this, it is needed. */
}


/** Status bar **/
#mStatusWidget {
  background-color: #1E2126;
  color: #FFFFFF;
}

#mStatusWidget #mCoordinateLineEdit,
#mStatusWidget #mDisplayCRSButton,
#mStatusWidget #mScaleComboBox,
#mStatusWidget #mCRSSelectionButton
{
  background-color: #16171B;
  color: #FFFFFF;
}

#mStatusWidget QLabel {
  color: #FFFFFF;
}


/** +- buttons **/
QPushButton#mZoomInButton,
QPushButton#mZoomOutButton {
  background-color: #263B4E;
  color: #FFFFFF;
}

QFrame#mZoomInOutFrame {
    border: 1px solid #737373;
    border-radius: 2px;
}

QFrame#mZoomBackgroundFrame {
  border-left: 1px solid #263B4E;
  border-right: 1px solid #263B4E;
  background-color: #c7cacf;
}

/** Styling for dialogs **/
QDialog {
  background-color: #FFFFFF;
}

QDialog QDialogButtonBox {
  dialogbuttonbox-buttons-have-icons: 0;
}

QDialog QPushButton {
  border-radius: 3px;
  background-color: #e6e6e6;
  border: 1px solid #cdcdcd;
  padding: 6px;
  border-style: outset;
  min-width: 80px;
}

QDialog QPushButton:pressed {
    border-style: inset;
}

QDialog QPushButton[text="OK"], QDialog QPushButton[text="&Open"]{
  background-color: #106BBC;
  color: #FFFFFF;
}

QDialog QPushButton[text="&Cancel"],    QDialog QPushButton[text="Close"]
QDialog QPushButton[text="Abbrechen"], QDialog QPushButton[text="Schließen"] {
  background-color: #313B44;
  color: #FFFFFF;
}
/*
QDialog QComboBox, QDialog QLineEdit {
  border: 1px solid #9a9a9a;
  border-radius: 5px;
}
*/

/** Case-by-case styling **/
QgsAttributeForm QScrollArea > QWidget > QWidget
{
  background-color: #FFFFFF;
}