/**General styling*/
QWidget {
  font-family: "Frutiger LT Pro 55 Roman";
  font-size: 14px;
}

QTreeView::indicator {
    width: 13px;
    height: 13px;
    background: #FFFFFF;
    frame: 1px #9a9a9a
}

QTreeView::indicator::checked {
  image: url(:/images/ribbon/checked.png);
}

QTreeView::indicator::unchecked {
  image: url(:/images/ribbon/unchecked.png);
}

QTreeView {
  background-color: rgba(255,255,255, 220);
}

/*QCheckBox::indicator:unchecked {
    image: url(:/images/checkbox_unchecked.png);
}*/

QgsRibbonApp, QgsRibbonWindowBase QToolBar {
  background-color: #263B4E;
}

/**UI left of mRibbonWidget*/
QAbstractButton#mFavoriteButton1 {
  background-color: #5D7081;
  color: #263B4E;
}

QAbstractButton#mFavoriteButton2 {
  background-color: #5D7081;
  color: #263B4E;
}

QAbstractButton#mFavoriteButton3 {
  background-color: #5D7081;
  color: #263B4E;
}

QAbstractButton#mFavoriteButton4 {
  background-color: #5D7081;
  color: #263B4E;
}

#search
QWidget#mSearchWidget {
  background-color: #5D7081;
}

QFrame#mSeparatorFrame {
  background-color: #5D7081;
  border: 0.5px #5D7081;
}

QFrame#mSeparatorFrameBackground {
  background-color: #263B4E;
}

/**Ribbon widget*/
QWidget#mRibbonBackgroundWidget {
  background-color: #BEDCF6;
}

QWidget#mMyMapsTab, QWidget#mViewTab, QWidget#mAnalysisTab, QWidget#mDrawTab, QWidget#mSituationReportTab, QWidget#mSettingsTab, QWidget#mHelpTab {
  background-color: #263B4E;
}

QWidget#mDrawTab > QLabel {
    color: white;
}

QTabWidget QAbstractButton,
QTabWidget QComboBox,
QTabWidget QSpinBox {
  background-color: #5D7081;
  color: #FFFFFF;
}

#mRibbonWidget QTabBar::tab:selected {
    background-color: #263B4E;
    color: #FFFFFF;
}

#mRibbonWidget QTabBar::tab:!selected {
    background-color: #BEDCF6; /* make non-selected tabs look smaller */
    height: 45px;
}


QLineEdit#searchBox {
    border: 1px solid #9db2c5;
    background-color: #5d7081;
    color: white;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 5px;
}

QToolButton#searchFilter {
    border-right: 1px solid #9db2c5;
    border-top: 1px solid #9db2c5;
    border-bottom: 1px solid #9db2c5;
    background-color: #5d7081;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin: 0;
    padding: 5px;
}

/**Status bar*/

#mStatusWidget {
  background-color: #1E2126;
  color: #FFFFFF;
}

#mStatusWidget #mCoordinateLineEdit,
#mStatusWidget #mCRSComboBox,
#mStatusWidget #mCRSComboBox,
#mStatusWidget #mScaleComboBox,
#mStatusWidget #mCRSSelectionButton
{
  background-color: #16171B;
  color: #FFFFFF;
}

#mStatusWidget QLabel {
  color: #FFFFFF;
}

/*QTabWidget#mRibbonWidget { 
  font-family: "Frutiger LT Pro" 
}*/

QTabWidget::pane {
}

/**Tree view button*/
QPushButton#mLayerTreeViewButton {
  background-color: #263B4E;
}

/**+- button*/
QPushButton#mZoomInButton {
  background-color: #263B4E;
  color: #FFFFFF;
}
QPushButton#mZoomOutButton {
  background-color: #263B4E;
  color: #FFFFFF;
}

QFrame#mZoomInOutFrame {
    border: 1px solid #737373;
    border-radius: 2px;
}

QFrame#mZoomBackgroundFrame {
  border-left: 1px solid #263B4E;
  border-right: 1px solid #263B4E;
  background-color: #c7cacf;
}

/**Styling for dialogs*/

QDialogButtonBox { 
  dialogbuttonbox-buttons-have-icons: 0; 
}

QDialog QPushButton {
  border-radius: 3px;
  background-color: #e6e6e6;
  border: 1px solid #cdcdcd;
  padding: 6px;
  border-style: outset;
  min-width: 80px;
}

QDialog {
  background-color: #FFFFFF;
}

QDialog QPushButton:pressed {
    border-style: inset;
}

QDialog QPushButton[text="OK"], QPushButton[text="&Open"]{
  background-color: #106BBC;
  color: #FFFFFF;
}

QDialog QPushButton[text="Abbrechen"], QPushButton[text="Schließen"], QPushButton[text="Cancel"]{
  background-color: #313B44;
  color: #FFFFFF;
}

/*QDialog QSpinBox, QDialog QDoubleSpinBox*/
QDialog QComboBox, QDialog QLineEdit {
  background-color: #FFFFFF;
}

QDialog QComboBox
{
  frame: 1px solid #9a9a9a;
}

/*QDialog QSpinBox, QDialog QDoubleSpinBox,*/
QDialog QLineEdit {
  border-radius: 5px;
  frame: 1px solid #9a9a9a;
}

QWidget #mMousePositionLabel, QWidget #mScaleLabel, QWidget #mCRSLabel {
  background-color: #1e2126;
}


